.card {
    width: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background-color: lavenderblush;
    color: orchid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 0.3s;
    width: 300px;
    height: 300px;
    line-height: 30px;
}

.card span {
    color: blueviolet;
}


.card:hover {
    box-shadow: rgba(218, 112, 185, 0.4) 5px 5px, rgba(218, 46, 170, 0.3) 10px 10px, rgba(218, 46, 170, 0.2) 15px 15px, rgba(218, 46, 170, 0.1) 20px 20px, rgba(218, 46, 170, 0.05) 25px 25px;
}